ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
}

.header {
  display: flex;
  align-items: baseline;
  font-weight: 400;
  padding: 20px 0px 40px 0px;
  max-width: 720px;
  margin: 0 auto;
}

.header-left-content a {
  color: #0b7af3;
  padding-right: 90px;
}

.header-right-content a {
  color: black;
}

@media screen and (max-width: 420px) {
  .header-left-content a {
    padding-right: 52px;
  }
}