.landing-content-wrapper {
  font-family: 'Circular Black', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  max-width: 720px;
}

.landing-title p {
  color: dimgrey;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
}

.landing-content p {
  color: rgb(203, 242, 1);
  font-size: 1.3rem;
}

.tech-icons span {
  padding-right: 10px;
}

@media screen and (max-width: 420px) {
  .landing-title p {
    font-size: 28px;
  }
  .landing-content p {
    font-size: 18px;
  }

  .tech-icons {
    font-size: 16px;
  }
}