.landing-content-wrapper {
  font-family: 'Circular Black', sans-serif;
  font-size: 20px;
}

.landing-title {
  color: dimgrey;
  line-height: 5px;
}

.landing-content p {
  color: rgb(203, 242, 1);
}

.tech-icons span {
  padding-right: 10px;
}